* {
    font-family: sans-serif;
    padding: 0;
}

body {
    background: #808080;
}

header h1 {
    color: #333;
    margin: 20px;
}

aside {
    height: 500px;
    width: 35%;
    margin: 20px;
    float: left;
}

aside .consumi {
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 3px;
    height: 400px;
    color: ghostwhite;
    list-style: none;
    background: #333;
}

aside .consumi li {
    margin: 40px 20px;
}

aside .consumi li p {
    color: #2187e7;
    text-shadow: 0 0 10px #2187e7b3;
    float: right;
    margin: 10px 10px;
}

.bar {
    background: #353b48;
    display: block;
    height: 2px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0 0 10px #2187e7b3;
}

.bar span {
    height: 2px;
    float: left;
    background: #2187e7;
}



.details {
    background-color: #333;
    height: auto;
    float: left;
    width: 30%;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 3px;

}

.details h3 {
    color: ghostwhite;
    margin-left: 15px;
}

.details .object {
    color: #2187e7;
    text-shadow: 0 0 10px #2187e7b3;
    margin-left: 15px;
    margin-bottom: 25px;
    
}

#container {
    margin-top: 40px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 24px;
    float: right;
    margin-right: 20px;
    margin-top: -5px;
  }
  
  .switch input { 
    float: right;
    opacity: 0;
    width: 0;
    height: 0;
    margin-right: 20px;
    margin-top: -5px;
  }
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2187e7b3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2187e7b3;
    
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }  
/* Rounded sliders */
.slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }


/*.nav {
    
}

.nav ul {
    list-style: none;
}

.nav ul li {
    list-style: none;
    float: left;
}

.nav ul li {
    float: left;
    list-style: none;
    padding: 20px 45px;
    background-color: #333;
    color: #2187e7;
    text-shadow: 0 0 10px #2187e7b3;
}

.nav ul li.active {
    background-color:#1a1a1a;
    color: whitesmoke;
    text-shadow: none;
}

.nav ul li:hover {
    background-color:#262626;
    color: whitesmoke;
    text-shadow: none;
}*/